<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!--Responsive meta tag .. To ensure proper rendering and touch zooming for all devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mission to Mars</title>
  </head>

  <body>

    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p>All About Mars</p>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data!</a></p>
    </div>
    
    <div class="container-fluid">
      
      <!--Mars news-->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <h2 class="heading">{{news.title}}</h2>
          <h4 class="heading">{{news.article}}</h4>
          <small>{{news.date}}</small>
        </div>
      </div>

      <!--Mars Image-->
      
      <div class="row" id="mars-image">
          <div class="col-md-9">
            <h2 class="heading">Featured Mars Image</h2>
            <img src="{{image.image}}" alt="mars" height="600" width="600" >
          </div>

          <!--Mars weather-->
          
            <div class="col-md-3">
              <div class="row" id="mars-weather">
                <h2 class="heading">Current Weather on Mars</h2>
                <p>{{weather.weather}}</p>
              </div>
            

          <!--Mars facts dropped index and header of dataframe-->
          <div class="row" id="mars-facts">
                <h2 class="heading">Mars Facts</h2>
                {{facts.dataframe | safe}}
              </div>
          </div>

      </div>

      

      

    </div>

    
  </body>
</html>